@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;
}

body {
 width: 100%;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 background: linear-gradient(45deg, #002e92, #3a4452);
}

.calculator {
 border: 1px solid #0c0041;
 padding: 20px;
 border-radius: 16px;
 background: transparent;
 box-shadow: 0px 3px 15px rgb(0, 26, 771);

}

input {
 width: 320px;
 border: none;
 padding: 24px;
 margin: 10px;
 background: transparent;
 box-shadow: 0px 3px 15px rgbs(84, 84, 84, 0.1);
 font-size: 40px;
 text-align: right;
 cursor: pointer;
 color: #00eeff;
}

input::placeholder {
 color: #ffffff;
}

button {
 border: none;
 width: 60px;
 height: 60px;
 margin: 10px;
 border-radius: 50%;
 background: transparent;
 color: #ffffff;
 font-size: 20px;
 box-shadow: -8px -8px 15px rgb(0, 2, 92);
 cursor: pointer;
}

.equalBtn {
 background-color: #ca8300;
}

.operator {
 color: #ff9100;
}